* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  background-color: linear-gradient(#d6e1ff, #e0e8ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sum {
  &__cont {
    width: 100%;
    max-width: 740px;
    margin-inline: auto;
  }

  &__image {
    width: 100%;
  }

  // CONTENT SECTION
  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-block: 4rem;
  }

  &__title1 {
    font-family: "Manrope", "sans-serif";
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: #16264c;
  }

  &__desc {
    width: 100%;
    max-width: 484px;
    text-align: center;
    font-family: "Manrope", "sans-serif";
    font-size: 24px;
    font-weight: 400;
    color: #696f86;
  }

  &__mdlsec {
    display: flex;
    align-items: center;
    gap: 90px;
    width: 100%;
    max-width: 519px;
    justify-content: center;
  }

  &__First {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__icon {
    padding: 24px;
    border-radius: 50%;
    background-color: #dfe5fb;
  }

  &__title2 {
    font-family: "Manrope", "sans-serif";
    font-size: 20px;
    font-weight: 600;
    color: #16264c;
  }

  &__price {
    font-family: "Manrope", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #696f86;
  }

  &__second {
    font-family: "Manrope", "sans-serif";
    font-size: 16px;
    font-weight: 600;
    color: #382ae1;
    border-bottom: 1px solid #382ae1;
  }

  &__paybtn {
    font-family: "Manrope", "sans-serif";
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    max-width: 519px;
    padding-block: 1.3rem;
    border-radius: 15px;
    background-color: #382ae1;
    border: 1px solid transparent;
  }

  &__cnclsec {
    font-family: "Manrope", "sans-serif";
    font-size: 16px;
    font-weight: 600;
    color: #696f86;
  }
}

// MEDIA QUARY

@media (max-width: 768px) {
  .sum {
    &__img {
      width: 100%;
      height: 100%;
    }

    &__title1 {
      font-size: 33px;
    }

    &__paybtn {
      width: 80%;
    }
  }
}

@media (max-width: 425px) {
  .sum__paybtn {
    width: 80%;
    padding: 14px;
  }
}

@media (max-width: 320px) {
  .sum {
    &__desc {
      padding-inline: 10px;
    }

    &__mdlsec {
      padding-inline: 10px;
    }

    &__title2 {
      font-size: 14px;
    }

    &__icon {
      padding: 15px;
    }

    &__paybtn {
      padding: 12px;
    }
  }
}
